@import 'custom';
@import '~bootswatch/dist/sketchy/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/sketchy/bootswatch';


*{
    font-size: medium;
}
body {
    background-color: #8c8d92;
}
#carousel img {
    size: cover;
}
#content {
    padding-top: 40px;
}
.pagination {
    margin-right: 10%;
}
footer {
    background-color: #555;
}
.jumbotron {
    margin-top: 10px;
    background-color: rgb(93, 138, 54);
}
.card-body{
    background-color: rgb(93, 138, 54);
}
.carousel-caption {
    font-size: large;
}