@import 'custom';
@import '~bootswatch/dist/sketchy/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/sketchy/bootswatch';




body {
    font-size: medium;
    @include bg-color(#8c8d92);
    #content {
        #carousel {
            img {
                size: cover;
            }
            .carousel-caption {
                font-size: large;
            }

        }
        .jumbotron {
            margin-top: 10px;
            @include bg-color();
        }
        .container {
            .card-body{
                @include bg-color();
            }
        }
        .pagination {
            margin-right: 10%;
            li {
                @include bg-color();
            }
        }
    }
    footer {
        @include bg-color(#555);
    }
}





