@import 'custom';
@import '~bootswatch/dist/sketchy/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/sketchy/bootswatch';

*{
    font-size: medium;
}
body {
    background-color: #4f515b;
}
#carousel img {
    size: cover;
}
#content {
    padding-top: 40px;
}
.pagination {
    margin-right: 10%;
}
footer {
    background-color: #555;
}

